body {
    display: grid;

    grid-template-columns: 1fr 5fr;
}

.border-debug1 {
    border: mediumblue 3px dashed;
}

.block-commands {
    display: grid;

    grid-template-columns: 3fr 2fr 1fr 3fr;
}

.block-commands div:last-child {
    grid-column: -1/-2;
}